@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h1>Kayıtlı Kullanıcılar</h1>
<p>
    <a asp-action="AddUser">Yeni Kullanıcı ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form asp-action="DeleteUser" asp-controller="Admin" method="post">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
