@model IEnumerable<BarberShopManagementSystem.Models.Salon>

<h1>Salon Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Adres</th>
            <th>Telefon</th>
            <th>Çalışma Saatleri</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salon in Model)
        {
            <tr>
                <td>@salon.Name</td>
                <td>@salon.Address</td>
                <td>@salon.Phone</td>
                <td>@salon.WorkingHours</td>
            </tr>
        }
    </tbody>
</table>
